<a href="https://colab.research.google.com/github/Harinidatascientist/i18n-intren/blob/main/Write_a_program_to_Practice_importing_and_exporting_data_from_various_databases_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("example.db")  # Connect to the database
pd.DataFrame({"id": [1, 2], "name": ["Alice", "Bob"], "salary": [50000, 60000]}).to_sql("employees", conn, if_exists="replace", index=False)  # Insert data
df = pd.read_sql("SELECT * FROM employees", conn)  # Fetch data
df.to_csv("employees.csv", index=False)  # Export to CSV
print(pd.read_csv("employees.csv"))  # Import and display data from CSV

   id   name  salary
0   1  Alice   50000
1   2    Bob   60000